<div class="container">
  <section id="content">
    <h1>Bhakundo Americano</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email', id: 'username' %>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', id: 'password'  %>
      </div>
      <div>
        <%= f.submit "Log in" %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'  %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end -%>
      </div>
    <% end %>  
    
  </section><!-- content -->
</div><!-- container -->